<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62b4c9">  <td>19/09/18 17:32:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test25CMSNoticias.IngresoAmbiente()[pri:0, instance:test.Test25CMSNoticias@72f8ae0c]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 17:33:01</td>   <td>9432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test25CMSNoticias.CMSNews()[pri:50, instance:test.Test25CMSNoticias@72f8ae0c]">CMSNews</td> 
  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 17:33:30</td>   <td>38634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test25CMSNoticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test25CMSNoticias@72f8ae0c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 17:33:32</td>   <td>40783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test25CMSNoticias.CMSNewsCrear()[pri:51, instance:test.Test25CMSNoticias@72f8ae0c]">CMSNewsCrear</td> 
  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 17:34:13</td>   <td>81216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test25CMSNoticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test25CMSNoticias@72f8ae0c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 17:34:15</td>   <td>83393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test25CMSNoticias.CMSNewsEditar()[pri:52, instance:test.Test25CMSNoticias@72f8ae0c]">CMSNewsEditar</td> 
  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 17:34:35</td>   <td>103881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test25CMSNoticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test25CMSNoticias@72f8ae0c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 17:34:41</td>   <td>109060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test25CMSNoticias.CMSNewsEliminar()[pri:53, instance:test.Test25CMSNoticias@72f8ae0c]">CMSNewsEliminar</td> 
  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 17:34:43</td>   <td>111616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test25CMSNoticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test25CMSNoticias@72f8ae0c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
<tr bgcolor="62b4c9">  <td>19/09/18 17:34:48</td>   <td>116307</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test25CMSNoticias.CloseChrome()[pri:0, instance:test.Test25CMSNoticias@72f8ae0c]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@148436820</td>   <td></td> </tr>
</table>
